@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'Hack Nerd Font';
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 20px;
}

#workspaces button.empty {
  opacity: 0.5;
}
